/// Helpers (helper classes & placeholders)

/// Placeholders
%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

/// Display helpers
.clearfix {
  @extend %clearfix;
}
.float-left  { float: left; }
.float-right { float: right; }

.float-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.display-inline       { display: inline; }
.display-block        { display: block; }
.display-inline-block { display: inline-block; }
.display-none         { display: none; }

// Hide element while making it readable for screen readers
// Shamelessly borrowed from HTML5Boilerplate:
// https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.margin-top-none  { margin-top: 0; }
.margin-top-half  { margin-top: 0.5rem; }
.margin-top-one   { margin-top: 1rem; }
.margin-top-two   { margin-top: 2rem; }

.margin-bottom-none  { margin-bottom: 0; }
.margin-bottom-half  { margin-bottom: 0.5rem; }
.margin-bottom-one   { margin-bottom: 1rem; }
.margin-bottom-two   { margin-bottom: 2rem; }


/// Text helpers
.text-color   { color: $color-primary; }
.text-white   { color: $white; }
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }
.text-justify { text-align: justify; }

.align-top    { vertical-align: top; }
.align-bottom { vertical-align: bottom; }
.align-middle { vertical-align: middle; }

// Hide text while making it readable for screen readers
// 1. Needed in WebKit-based browsers because of an implementation bug;
//    See: https://code.google.com/p/chromium/issues/detail?id=457146
.text-hide {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.mb-0{
  margin-bottom: 0;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}

.mb-60{
  margin-bottom: 60px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 15px;
}

.mb-0{
  margin-bottom: 0;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
   margin-top: 10px;
 }
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}
.mt-50{
  margin-top: 50px;
}
.mt-60{
  margin-top: 60px;
}

.cart-rate {
    display:inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
}
.cart-rate > input {
    display: none;
}
.cart-rate > label[title] {
    direction: ltr;
    display: inline-block !important;
    margin-bottom: 0px;
    font-size: 0px;
    line-height: 0px;
    margin-left: -4px;
}
.cart-rate > label:before {
    content:'★';
    color: #c7c5c5;
    cursor: pointer;
    font-size: 20px;
}
.cart-rate > label:hover:before,
.cart-rate > label:hover ~ label:before,
.cart-rate > input:checked ~ label:before,
.cart-rate input.star_checked ~ label:before {
    color: #fbcf07;
}

.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;  
}

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.text-uppercase {
    text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  background: url('../images/bg-overlay.png') repeat;
}

.overclick {
  cursor: pointer;
}
