/**** Font ****/
$roboto: 'Roboto', sans-serif;

$font-primary:  $roboto;
$font-default: $roboto;
$font-size: 1.4rem;

/**** Color ****/
$black: #000000;
$gray: #3a3a3a;
$gray-light: #9b9b9b;
$red: #f55123;
$yellow: #fbcf07;
$white: #fff;
$blue:  #0081c7;
$blue-light:  #34b7fc;

$color-default: $gray;

$color-primary:  $gray;

$color-success: green;
$color-warning: orange;
$color-alert:   red;
