input {
	outline: none;
	border: 1px solid #a9a9a9;
	height: 40px;
	line-height: 40px;
	color: #585858;
	padding-left: 10px;
	display: inline-block;
	width: 100%;
	&:focus {
		border: 1px solid $blue;
	}
}
textarea {
	outline: none;
	border: 1px solid #a9a9a9;
	display: inline-block;
	color: #585858;
	padding-left: 10px;
	width: 100%;
	resize: none;
	height: 90px;
	&:focus {
		border: 1px solid $blue;
	}
}