.breadcrumbs {
    background: #F9F9F9;
    margin-bottom: 25px;
    margin-top: 25px;
    ul {
        margin-bottom: 0px;
        margin-left: 0px;
        li {
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            
            a {
                color: #4f4f4f;
                font-weight: 300;
                font-size: 14px;
                &:hover {
                    color: $blue;
                    text-decoration: none;
                }
            }
            
            span {
                color: $black;
                font-weight: bold;
                font-style: 14px;
            }
            
            i {
                margin: 0px 5px;
            }
        }
    }
}