#logo {
	float: left;
	padding-top: 15px;
	margin-bottom: 5px;
	img {
		display: block;
		width: auto;
	}
}

header {
	position: relative;
	z-index: 10;
	.wrap-menu-header {
		float: right;
		text-align: right;
		padding-top: 35px;
		.menu-top {
			text-align: right;
			margin-bottom: 50px;
			.item {
				display: inline-block;
				font-size: 13px;
			}
			.hotline {
				margin-right: 20px;
			}
			.login-resgiter {
				margin-left: 25px;
				a {
					font-weight: 300;
					display: inline-block;
					&:hover {
						text-decoration: none;
					}
				}
				img {
					display: inline-block;
				}
			}
			.search-header {
				input {
					display: inline-block;
					width: 250px;
					height: 28px;
					line-height: 28px;
					border: 1px solid #acacac;
					color: #3a3a3a;
					padding:0px 15px; 
					outline: none;
				}
				button {
					width: 28px;
					height: 28px;
					line-height: 28px;
					color: $white;
					background: #acacac;
					margin-left: -4px;
				}
			}
			.languages {
				a {
					display: inline-block;
					margin-left: 5px;
					img {
					    -webkit-filter: grayscale(100%);
					    filter: grayscale(100%);
					    -webkit-transition: .3s ease-in-out;
					    transition: .3s ease-in-out;
					}
					&:hover, &.active {
						img {
						    -webkit-filter: grayscale(0);
	    					filter: grayscale(0);
	    				}
					}
				}
			}
		}
	}
}

.header-picture {
	position: relative;
	img {
		display: block;
		width: 100%;
	}
	.content {
		position: absolute;
		top: 20%;
		left: 0;
		width: 100%;
		h1 {
			font-size: 40px;
			color: $blue;
			font-weight: 300;
		}
	}
	.phone-header {
		position: absolute;
		top: 50%;
		right: 70px;
		transform: translateY(-50%);
		img {
			display: block;
			width: auto;
		}
	}
}

.main-nav {
	>ul {
		list-style: none;
		margin-left: 0px;
		margin-bottom: 0px;
		>li {
			display: inline-block;
			margin-right: 11px;
			position: relative;
			>a {
				font-weight: 300;
				color: $black;
				position: relative;
				padding: 0px 15px 15px 15px;
				&:before{
					content:'';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					border-top: 3px solid transparent;
					transition: border .3s ease-in-out;
				}
				&:hover, &.active{
					text-decoration: none;
					&:before{
						border-top: 3px solid $blue;
					}
				}
			}
			ul {
				list-style: none;
				margin: 0;
				position: absolute;
				top: 32px;
				left: 0;
				width: 180px;
				opacity: 0;
				background-color:rgba(255, 255, 255, 0.7);
				text-align: left;
				visibility: hidden;
				transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
				li {
					a {
						display: block;
						font-weight: 500;
						color: #919191;
						padding: 8px 15px;
						transition: background .3s ease, color .3s ease;
						&:hover,&.active {
							background: $blue;
							color: $white;
							text-decoration: none;
						}
					}
				}
			}
			&:hover {
				>a {
					&:before{
						border-top: 3px solid $blue;
					}
				}
				ul {
					opacity: 1;
					visibility: visible;
				}
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}
}

.wrap-function {
	border-bottom: 1px solid #d9d9d9;
	.col-md-4{
		text-align: center;
		margin: 20px 0px;
		border-left: 1px solid #d9d9d9;
		&:first-child {
			border-left: 0px;
		}
	}
	.function {
		display: inline-block;
		cursor: pointer;
		.image {
			float: left;
			padding-top: 23px;
		}
		.info {
			overflow: hidden;
			padding-left: 10px;
			text-align: left;
		}
		a {
			font-weight: 500;
			font-size: 14px;
		}
		p {
			margin-bottom: 0px;
			color: #7d7d7d;
		}
		&:hover {
			a {
				color: $blue;
			}
		}
	}
}