*{
  margin: 0px;padding: 0px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $color-default;
  font-family: $font-default;
  font-size: $font-size;
  font-weight: 300;
}

//
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//
*, *::before, *::after {
  box-sizing: inherit;
}

/// Anchor
a {
  font-family: $font-primary;
  color: $color-primary;
  text-decoration: none;
  font-weight: bold;
  transition: color .3s ease-in-out;
  &:hover{
    color: $blue-light;
  }
}

/// Block elements
p, pre, figure {
  margin: 0 0 2rem 0;
  line-height: 100%;
  color: $color-default;
  font-family: $font-default;
  font-size: $font-size;
  &:empty {
    display: none;
  }
}
p{
  line-height: 18px;
}
blockquote, .explanation {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 1em;

    font-weight: lighter;
    font-style: normal;

    border-left: 5px solid $color-primary;

    > *:last-child {
      margin-bottom: 0;
    }
}
hr {
  border: 0;
  height: 1px;
  background: $gray-light;
}
img {
  border: 0;
}


/// Table
/// Unstyled table
table {
  margin-bottom: 1rem;
  th {
    font-weight: bold;
    text-align: left;
  }
}

/// Styled table
.table {
  width: 100%;
  max-width: 100%;

  td, th {
    padding: 1rem;
    border-bottom: 1px solid $gray-light;
  }

  th {
    font-weight: bold;
  }

  thead {
    td, th {
      border-bottom-width: 2px;
    }
  }

  tbody, tfoot {
    tr:last-child {
      td, th {
        border-bottom: 0;
      }
    }
  }

  tfoot {
    td,th {
      border-top: 2px solid $gray-light;
    }
  }

  caption {
    padding: 0.75rem;
    font-size: small;
    color: $gray;
  }
}

/// Lists
ul {
  @extend p;
  list-style: disc;
  margin-left: 1.4em;
  padding-left: 0;

  ul, ol {
    margin-bottom: 0;
  }
}
ol {
  @extend p;
  list-style: decimal;
  margin-left: 1.4em;
  padding-left: 0;

  ul, ol {
    margin-bottom: 0;
  }
}
.no-bullet {
  list-style: outside none none;
  margin-left: 0;
}
dl {
  @extend p;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
#wrapper { width: 100%; min-height: 100%; margin: 0 auto; position: relative; overflow-x: hidden; }

#main-body {  }

#footer {  }



