footer {
	.footer-top {
		background: #f2f9fc;
	}
	#logo {
		margin-bottom: 20px;
	}

	.info-company {
		p {
			color: #757678;
			margin-bottom: 5px;
			line-height: 22px;
      font-weight: normal;
			span {
				font-weight: bold;
				font-size: 14px;
				color: #757678;
			}
		}
	}
	.menu-footer {
		padding-top: 102px;
		margin-bottom: 46px;
		ul {
			list-style: none;
			margin-left: 0px;
			margin-bottom: 0px;
			text-align: left;
			li {
				display: inline-block;
				margin-left: 30px;
				a {
					text-transform: uppercase;
					font-weight: 300;
					font-size: 14px;
					color: #3a3a3a;
					transition: color .3s ease;
					&:hover, &.active {
						color: $blue;
						text-decoration: none;
					}
				}
				&:first-child {
					margin-left: 0px;
				}
			}
		}
	}
	.text-search {
		ul {
			list-style: none;
			margin-left: 0px;
			margin-bottom: 0px;
			li {
				margin-bottom: 10px;
				a {
					font-size: 14px;
					font-weight: normal;
					color: #757678;
				}
			}
		}
	}

	.footer-bottom {
		background: #034e9a;
		padding: 13px 0px;
		a {
			color: #fff;
			font-weight: normal;
		}
		.coppyright {
			float: right;
			color: #fff;
			font-weight: normal;
		}
	}
  .wrap-social {
    margin-bottom: 50px;
    a {
      display: inline-block;
      width: 36px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      color: $white;
      font-size: 20px;
      background: #8c8c8c;
      border-radius: 50%;
      margin-right: 5px;
      transition: background .3s ease;
      &:hover {
        background: #0081c7;
      }
    }
  }
}
