.btn {
    display: inline-block;
    width: auto;
    -webkit-appearance: none;
    border: 1px solid $white;
    border-radius: 0px;
    outline: 0;
    font-weight: 500;
    overflow: hidden;
    color: $white;
    font-family: $font-primary;
    text-align: center;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 15px 2px 15px;
  	-webkit-transition: color .25s ease, border .25s ease;
  	-moz-transition: color .25s ease, border .25s ease;
  	-ms-transition: color .25s ease, border .25s ease;
  	-o-transition: color .25s ease, border .25s ease;
  	transition: color .25s ease, border .25s ease;
    &.bd-blue {
      border: 1px solid $blue;
      color: $blue;
      &:hover {
        color: $blue;
      }
    }
    &.bd-gray {
      border: 1px solid #797979;
      color: #797979;
      &:hover {
        color: $blue;
        border: 1px solid $blue;
      }
    }
     &:hover {
         color: $white;
     }
}

button {
	display: inline-block;
    width: auto;
    -webkit-appearance: none;
  	background: transparent;
  	outline: none;
  	border: 0px;
}