.home-content {
	padding-bottom: 65px;
	.content {
		margin-bottom: 35px;
		img {
			display: block;
			width: 100%;
			margin-bottom: 25px;
		}
	}
}

.list-menu {
	nav {
		h4 {
			font-size: 14px;
			color: $blue;
			font-weight: bold;
			border: 1px solid #c6c6c6;
			padding: 6px 10px;
		}
		ul {
			list-style: none;
			margin-left: 0px;
			margin-bottom: 0px;
			li {
				margin-bottom: 5px;
				a {
					display: block;
					padding: 6px 10px;
					font-size: 14px;
					font-weight: 300;
					text-transform: uppercase;
					border: 1px solid #c6c6c6;
					background: transparent;
					transition: color .3s ease, background .3s ease;
					&:hover {
						color: $white;
						background: $blue;
						text-decoration: none;
					}
				}
			}
		}
		&.menu-product {
			margin-bottom: 35px;
		}
		&.menu-news {
			ul {
				li {
					a {
						text-transform: none;
					}
				}
			}
		}
	}
}

.advisory-support {
	h2 {
		font-size: 35px;
		font-weight: 300;
		color: $blue;
	}
	p {
		color: #757575;
	}
	.support {
		display: inline-block;
		width: 100%;
		margin-bottom: 100px;
		.image {
			float: left;
			margin-right: 40px;
			img {
				display: inline-block;
				width: auto;
			}
		}
		.phone {
			overflow: hidden;
			width: auto;
			p {
				color: $blue;
				font-size: 27px;
				font-weight: normal;
				padding: 20px 16px;
				border: 2px solid $blue;
				border-radius: 10px;
				display: inline-block;
				width: auto;
				margin-bottom: 0px;
				margin-top: 40px;
				span {
					font-weight: bold;
				}
			}
		}
	}
}

.home-product {
	padding: 30px 0px;
	position: relative;
	background: url('../images/bg-product.png') no-repeat;
	background-size: cover;
	.overlay-product {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		height: 100%;
		background: url('../images/overlay.png') repeat-y;
		opacity: 0.9;
	}
	h2 {
		text-align: center;
		font-size: 40px;
		text-transform: uppercase;
		color: $white;
		font-weight: 300;
		margin-bottom: 50px;
	}
	.slider-product {
		.item {
			float: left;
			position: relative;
			.image {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 8px;
					left: 8px;
					right: 8px;
					bottom: 8px;
					z-index: 1;
					border: 3px solid $white;
				}
			}
			.product-code {
				position: absolute;
			    top: 50%;
			    left: 0;
			    transform: translateY(-50%);
			    width: 100%;
			    text-align: center;
			    p {
			    	color: $white;
			    	font-weight: 500;
			    	margin-bottom: 0px;
			    	line-height: 18px;
			    }
			}
			.product-order {
				text-align: center;
				margin-top: 20px;
			}
			&:hover {
				.overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}


.owl-nav {
    position: static !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .owl-prev {
	    width: auto;
	    float: left;
	    font-size: 25px;
	    position: absolute;
	    z-index: 999;
	    top: 40%;
	    left: 20px;
	    -webkit-transform: translate(0%, -40%);
	    -moz-transform: translate(0%, -40%);
	    -ms-transform: translate(0%, -40%);
	    -o-transform: translate(0%, -40%);
	    transform: translate(0%, -40%);
	    i {
		    font-size: 50px;
		    color: $white;
		    -webkit-transition: color .25s ease;
		    -moz-transition: color .25s ease;
		    -ms-transition: color .25s ease;
		    -o-transition: color .25s ease;
		    transition: color .25s ease;
		}
		&:hover {
			i {
				color: $blue;
			}
		}
	}
	.owl-next {
	    width: auto;
	    float: right;
	    font-size: 25px;
	    position: absolute;
	    z-index: 999;
	    top: 40%;
	    right: 20px;
	    -webkit-transform: translate(0%, -40%);
	    -moz-transform: translate(0%, -40%);
	    -ms-transform: translate(0%, -40%);
	    -o-transform: translate(0%, -40%);
	    transform: translate(0%, -40%);
	    i {
		    font-size: 50px;
		    color: $white;
		    -webkit-transition: color .25s ease;
		    -moz-transition: color .25s ease;
		    -ms-transition: color .25s ease;
		    -o-transition: color .25s ease;
		    transition: color .25s ease;
		}
		&:hover {
			i {
				color: $blue;
			}
		}
	}
}

.social-posts {
	a {
		display: inline-block;
		margin-right: 10px;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		color: $white;
		background: #3c5b9b;
		border-radius: 50%;
		&.google {
			background: #dc4d40;
		}
		&.linkedin {
			background: #0073b2;
		}
		&.envelope {
			background: #669c41;
		}
		&:first-child {
			margin-left: 10px;
		}
	}
}

.home-product-us {
	.col-md-10 {
		p {
			margin: 40px 0px;
		}
	}
}

.list-product-us {
	margin-bottom: 50px;
	h2 {
		font-size: 40px;
		color: $blue;
		margin-bottom: 30px;
	}
	.item {
		display: flex;
		transition: background .3s ease;
		.image {
			width: 50%;
			float: left;
			img {
				display: block;
				width: 100%;
			}
		}
		.content {
			padding: 30px 45px;
			width: 50%;
			float: left;
			h4 {
				font-size: 20px;
				color: $blue;
				line-height: 30px;
			}
			p {
				margin-bottom: 40px;
			}
		}
		&:hover {
			background: #f2f9fc;
		}
	}
}

.title {
	color: $blue;
	font-size: 40px;
	text-align: center;
}

.home-news {
	padding: 40px 0px 45px 0px;
	.title {
		margin-bottom: 30px;
	}
	.list-guide {
		.item {
			margin-bottom: 38px;
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.44);
			transition: box-shadow .3s ease;
			&:hover {
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
			}
		}
	}
}

.header-slider {
	.owl-dots {
	    position: relative;
	    text-align: center;
	    margin-top: -22px;
	    z-index: 99;
	    .owl-dot {
		    display: inline-block;
		    margin-right: 10px;
		    span {
			    display: inline-block;
			    width: 16px;
			    height: 16px;
			    background: $white;
			    border-radius: 50%;
			    border: 1px solid #8f8f8c;
			    -webkit-transition: background .25s ease;
			    -moz-transition: background .25s ease;
			    -ms-transition: background .25s ease;
			    -o-transition: background .25s ease;
			    transition: background .25s ease;
			}
		    &.active span {
			    background: $blue;
			}
		}
	}
	.owl-nav {
		display: none;
	}
	.slider {
		.overlay {
			opacity: 1;
			visibility: visible;
			background: url('../images/overlay-header.png') repeat-y;
		}
	}
}

