.wrap-list-guide {
    padding-bottom: 65px;
}
.list-guide {
	.item {
		padding: 8px;
	    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
	    margin-bottom: 30px;
		.image {
			float: left;
			margin-right: 10px;
		}
		.content {
			h6 {
				font-weight: bold;
				font-size: 14px;
			}
			p {
				margin-bottom: 10px;
			}
			.date-comment {
				font-size: 12px;
				span {
					display: inline-block;
					margin-left: 10px;
				}
			}
		}
	}
	&.news-hot {
		.item {
			padding: 0px;
			padding-right: 15px;
			.image {
				margin-right: 15px;
			}
			.content {
				padding-top: 20px;
			}
		}
	}
}
.guide-detail {
	padding-bottom: 65px;
	.content {
		img {
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}