.wrap-contact {
	.title {
		text-align: left;
		font-size: 35px;
	}
	.info-company {
		margin-bottom: 20px;
		p{
			color: #757678;
		    margin-bottom: 5px;
		    line-height: 22px;
		    font-weight: normal;
		    span {
		    	font-weight: bold;
			    font-size: 14px;
			    color: #757678;
		    }
		}
	}
}

.wrap-contact-form {
	margin-bottom: 50px;
	.form-line {
		margin-bottom: 15px;
	}
	.textarea-content {
		.col-md-9 {
			.form-line {
				margin-bottom: 10px;
			}
		}
		.row {
			align-items: flex-end;
		}
	}
	button {
		display: inline-block;
	    width: 100%;
	    -webkit-appearance: none;
	    border: 1px solid $blue;
	    border-radius: 0px;
	    outline: 0;
	    font-weight: 500;
	    overflow: hidden;
	    color: $blue;
	    font-family: $font-primary;
	    text-align: center;
	    text-decoration: none;
	    position: relative;
	    text-transform: uppercase;
	    font-size: 18px;
	    padding: 5px 15px 2px 15px;
	    cursor: pointer;
	}
}

.wrap-contact-map {
	margin-bottom: 60px;
	ul {
		list-style: none;
		margin-left: 0px;
		margin-bottom: 0px;
		li {
			float: left;
			a {
				&.office-hn {
					border-right: 0px;
				    padding-left: 40px;
    				padding-right: 40px;
				}
				&.btn {
					outline: none;
					&:hover, &.active {
						background: $blue;
						color: $white;

					}
				}
			}
		}
	}
	.wrap-map {
		.map {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}