.list-products {
	&.home-product {
		padding-top: 0px;
		background: none;
		h2 {
			text-align: left;
			font-size: 35px;
		    font-weight: 300;
		    color: $blue;
		    margin-bottom: 15px;
		}
		.slider-product {
			.item {
				margin-bottom: 40px;
				&:hover {
					.bd-gray {
						color: $blue;
						border: 1px solid $blue;
					}
				}
			}
		}
	}
}