.list-introduce {
	.item {
		margin-bottom: 40px;
		.image {
			position: relative;
			margin-bottom: 25px;
			&:before {
				content: '';
				position: absolute;
				top: 5px;
				left: 5px;
				bottom: 5px;
				right: 5px;
				border: 3px solid $white;
			}
			img {
				display: block;
				width: 100%;
			}
		}
		h5 {
			font-size: 15px;
			font-weight: bold;
			color: $blue;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
	}
}