.wrap-list-guide {
    padding-bottom: 65px;
}
.list-guide {
	.col-md-6 {
		display: flex;
	}
	.item {
		padding: 8px;
	    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
	    margin-bottom: 30px;
	    display: flex;
		.image {
			float: left;
			margin-right: 10px;
		}
		.content {
			overflow: hidden;
			padding-left: 1px;
			padding-bottom: 30px;
			position: relative;
			h6 {
				font-weight: bold;
				font-size: 16px;
				color: #6d6e71;
			}
			p {
				margin-bottom: 10px;
				color: #6d6e71;
				line-height: 20px !important;
			}
			.date-comment {
				font-size: 12px;
				span {
					display: inline-block;
					margin-left: 10px;
				}
			}
			.btn {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
	&.news-hot {
		.item {
			padding: 0px;
			padding-right: 15px;
			display: block;
			display: flex;
			.image {
				margin-right: 15px;
			}
			.content {
				padding-top: 5px !important;
				padding-bottom: 41px;
				.btn {
					bottom: 17px !important;
				}
			}
		}
	}
}
.guide-detail {
	padding-bottom: 65px;
	.content {
		img {
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}