@media screen and (max-width: 1200px) {
	.container {
		width: 100% !important;
	}

	#logo img {
	    width: 150px;
	}

	header .wrap-menu-header {
		float: none;
	}
	.main-nav {
		text-align: center;
		margin-bottom: 14px;
	}
	.main-nav>ul>li {
		margin-right: 0px;
	}
	header .wrap-menu-header .menu-top .search-header input {
		width: 210px;	
	}
	header .wrap-menu-header .menu-top {
		margin-bottom: 15px;
	}

	.list-product-us .item .content {
		padding: 15px 25px 40px 25px;
	}

}
@media screen and (max-width: 1024px) {
	footer .info-company p:nth-child(3){
		 word-break: break-all;
	}
	.container {
		width: 100%;
	}
	#logo img {
		width: 150px;
	}
	header .wrap-menu-header {
		float: none;
	}
	.main-nav {
		text-align: center;
		margin-bottom: 14px;
	}
	.main-nav>ul>li {
		margin-right: 0px;
	}
	header .wrap-menu-header .menu-top .search-header input {
		width: 210px;	
	}
	header .wrap-menu-header .menu-top {
		margin-bottom: 15px;
	}
	.header-picture .content h1 {
		font-size: 24px;
	}
	.header-picture .content .col-md-5 {
	    max-width: 100%;
    	flex: 0 0 100%;
	}
	.list-product-us {
		.col-md-6 {
			max-width: 50%;
    		flex: 0 0 50%;
		}
		.item {
			margin-bottom: 15px;
			.image {
				width: 30%;
			}
			.content {
				width: 70% !important;
			}
		}
	}
	.list-guide.news-hot .item {
		padding: 8px;
		display: block;
	}
	.list-guide.news-hot .item .image {
		margin-right: 0px;
		margin-bottom: 10px;
		float: none;
		img {
			display: block;
			width: 100% !important;
			height: 100% !important;
		}
	}
	footer .menu-footer ul li {
		margin-left: 8px;
		a {
			font-size: 12px;
		}
	}
	.advisory-support .support {
		text-align: center;
	}
	.advisory-support .support .image {
		float: none;
		display: inline-block;
		margin-right: 0px;
	}
	.phone-header {
		img {
			display: block;
			width: 100px;
		}
	}
	.list-guide .item {
		display: block;
		.image {
			float: none;
			margin-right: 0px;
			margin-bottom: 10px;
			img {
				display: block;
				width: 100%;
			}
		}
	}

	.list-product-us .item .content .bd-blue {
		position: static;
	}
}

@media screen and (min-width: 992px) {
	// .container {
	// 	width: 100% !important;
	// }
}

@media screen and (max-width: 767px) {
	.phone-header {
		img {
			display: block;
			width: 60px;
		}
	}
	.header-picture .content {
		display: none;
	}
	#logo {
		float: none;
	    width: 100%;
	    text-align: center;
	    a {
	    	display: inline-block;
	    }
	    img {
	    	width: 200px;
	    }
	}
	header .wrap-menu-header .menu-top .search-header input {
		width: 190px;
	}
	header .wrap-menu-header {
		float: none;
		text-align: center;
		padding-top: 5px;
	}
	header .wrap-menu-header .menu-top {
		text-align: center;
	}
	header .wrap-menu-header .menu-top .item {
		width: 100%;
	}
	header .wrap-menu-header .menu-top .hotline {
		margin-right: 0px;
		width: 100%;
	}
	.main-nav {
		text-align: left;
		display: none;
		&.active {
			display: block;
		}
	}
	.main-nav>ul>li {
		width: 100%;
	}
	.main-nav>ul>li>a {
		display: block;
		width: 100%;
		padding: 8px 0px;
		border-top: 1px solid #acacac;
	}
	.main-nav>ul>li ul {
		position: static;
		padding-left: 15px;
		background: none;
		width: 100%;
		opacity: 1;
		visibility: visible;
		// border-top: 1px solid #acacac;
	}
	.main-nav>ul>li ul li a {
		font-weight: 300;
		color: #000;
	    padding: 8px 15px;
	}
	.main-nav>ul>li>a.active:before, 
	.main-nav>ul>li>a:hover:before {
		border-top: 3px solid transparent;
	}
	.main-nav>ul>li ul li a.active, .main-nav>ul>li ul li a:hover {
		background: none;
		color: #000;
	}
	.main-nav>ul>li:hover>a:before {
		border-top: 3px solid transparent;
	}
	.menu-mobile {
		display: block;
	}
	.wrap-function .col-md-4 {
	    border-bottom: 1px solid #d9d9d9;
	    margin-bottom: 0px;
	    text-align: left;
	}
	.wrap-function {
		border-bottom: 0px;
	    word-break: break-word;
	}
	.wrap-function .function {
		padding-bottom: 20px;
		.info {
			// text-align: center;
		}
	}
	.list-product-us h2 {
		font-size: 22px;
	}
	.list-product-us .item {
		display: block;
	}
	.list-product-us .item .image {
		width: 100%;
	}
	.list-product-us .item .content {
		width: 100%;
		padding: 10px 0px;
		p {
			margin-bottom: 20px;
		}
	}
	.home-product h2 {
		margin-bottom: 20px;
		font-size: 22px;
	}
	.home-news .title {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.list-guide .item .image {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		img {
			width: 100% !important;
		}
	}
	.list-guide.news-hot .item {
		padding: 0px;
	}
	.home-news .list-guide .item {
		margin-bottom: 15px;
	}
	.list-guide .item {
		padding: 0px;
	}
	.list-guide .item .content {
		word-break: break-word;
	}
	footer .menu-footer {
		display: none;
	}
	footer .wrap-social {
		margin-bottom: 20px;
	}
	footer .footer-bottom {
		text-align: center;
		.coppyright {
			float: none;
		}
	}
	.advisory-support h2 {
		font-size: 22px;
		margin-top: 15px;
	}
	.advisory-support .support .phone p {
		font-size: 20px;
		line-height: 22px;
	}
	.content-introduce h2,
	.wrap-contact .title,
	.list-products.home-product h2 {
		font-size: 22px;
		margin-top: 15px;
	}
	.wrap-contact-map ul li {
		display: block;
		float: none;
		a {
			display: block;
			font-size: 14px;
		}
	}
	.wrap-list-guide {
		.list-guide .item {
			padding: 8px;
		}
	}
	.wrap-product-detail {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.wrap-product-detail .content-detail h3 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.wrap-product-detail .product-thumb {
		margin-bottom: 20px;
	}
	.header-slider .slider .overlay {
		display: none;
	}
	.list-product-us .item .content .bd-blue {
		position: static;
	}
	.list-guide .item {
		display: block;
	}
	.list-guide .item .content .btn {
		position: static;
	}
	.list-guide .item .content {
		padding-bottom: 0px;
	}
	.list-guide .col-md-6 {
		display: block;
	}
	.list-guide.news-hot .item .image img {
		width: 100% !important;
		height: auto !important;
	}
	.list-guide:not(.news-hot) .item .image img {
		max-width: 100% !important;
	}
	.list-product-us .item .content {
		padding-left: 0px;
		padding-right: 0px;
	}
	.list-product-us .col-md-6 {
		max-width: 100%;
    	flex: 0 0 100%;
	}
	.list-product-us .item .content {
		width: 100% !important;
	}
}