.list-products {
	&.home-product {
		padding-top: 0px;
		background: none;
		h2 {
			text-align: left;
			font-size: 35px;
		    font-weight: 300;
		    color: $blue;
		    margin-bottom: 15px;
		}
		.slider-product {
			.item {
				margin-bottom: 40px;
				float: none;
				&:hover {
					.bd-gray {
						color: $blue;
						border: 1px solid $blue;
					}
				}
				img {
					display: block;
					width: 100%;
					height: auto !important;
				}
			}
		}
	}
}

.wrap-product-detail {
	.image {
		position: relative;
		padding: 5px;
		border: 1px solid #b7b7b7;
		&:before {
			content: '';
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border: 3px solid $white;
		}
		img {
			display: block;
			width: 100%;
		}
	}
	.content-detail {
		h3 {
			color: $blue;
			font-size: 35px;
			margin-bottom: 35px;
		}
		p {
			strong {
				color: $blue;
			}
		}
	}
	.product-thumb {
		margin-top: 15px;
		margin-bottom: 50px;
		.item {
			padding: 5px;
			border: 1px solid #b7b7b7;
			img {
				display: block;
				width: 100%;
			}
		}
	} 
}